.section-hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 480px;
  height: 400px;
  background-image: url(/images/mobile/m_hero-min.jpg),
    linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/mobile/m_hero@2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: url(/images/tablet/t_hero-min.jpg),
      linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/tablet/t_hero@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: url(/images/desktop/d_hero-min.jpg),
      linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/images/desktop/d_hero@2x-min.jpg);
    }
  }
}

// HERO TITLE

// КНОПКА HERO

/* МОДАЛЬНОЕ ОКНО */
