.address-footer {
  margin-bottom: 60px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: inline-block;
    
  }

}

.list-address {
  margin-left: 0;
  @media screen and (min-width: 768px) {
    margin-left: 76px;
  }
}

.link-location {
  display: inline-block;

  text-decoration: none;

  margin-bottom: 8px;

  color: var(--address-text-color);

  @include font(400, 14px, 1.7);
  font-style: normal;
  letter-spacing: 0.03em;
}

.link-footer {
  @include font(400, 14px, 1.7);
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 8px;

  color: var(--footer-link-color);

  text-decoration: none;
  font-style: normal;

  &:last-child {
    margin-bottom: 0px;
  }
}

.link-mail-tel {
  display: block;
  text-align: center;
}
