.hero-button {
  @extend .button;

  display: inline-block;

  padding: 0;
  min-width: 200px;
  height: 50px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
