.logo__footer {
  display: block;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-left: 115px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }

  & .logo__text--enverse {
    color: #fff;
  }
}
