:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --hero-text-color: #ffffff;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --secondary-fon-color: #e5e5e5;
  --accent-color: #2196f3;
  --secondary-command-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --address-text-color: #ffffff;
}
